doctype 5
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/socket.io/socket.io.js')
    script

      // NEWICON SETTINGS

      var NI_API_KEY = "ab3245cbeaf456244abcdfa";
      var NI_USER_ID = 23;
      var NI_USER_NAME = "chris";
      var NI_USER_ROOM = "/workers";
      var NI_ROOM_HISTORY_ON_CONNECT = true;

      // SETTINGS END
      
      // CEONNECT WITH AUTORIZATION USING NI_API_KEY

      var socket = io.connect('',  {query: "api_key=" + NI_API_KEY });

      // EVENTS FOR NEW SOCKET

      socket.on('connect', function () {

        message('System', 'Connected...');
        
        NILogin();

        $('#chat').addClass('connected');
      });

      socket.on('connecting', function () {

      });

      socket.on('announcement', function (msg) {

        $('#lines').append($('<p>').append($('<em>').text(msg)));
      });

      socket.on('nicknames', function (nicknames) {

        $('#nicknames').empty().append($('<span>Online: </span>'));
        for (var i in nicknames) {
          $('#nicknames').append($('<b>').text(nicknames[i]));
        }
      });

      // RECEIVE MESSAGE FROM SERVER
      socket.on('user message public', message);

      socket.on('reconnect', function () {
        
        message('System', 'Reconnected to the server');
      });

      socket.on('disconnect', function () { 

          message('System', 'disconnected');
      } );

      socket.on('reconnecting', function () {

        message('System', 'Attempting to re-connect to the server');
      });

      socket.on('error', function (e) {

        message('System', e ? e : 'A unknown error occurred');
      });

      // FUNCTIONS NI

      function NILogin()
      {
          NI_USER_NAME = $('#nick').val();
          NI_USER_ID = $('#nick').val();
          socket.emit('login', { user_name : NI_USER_NAME, user_id: NI_USER_ID, user_room: NI_USER_ROOM, api_key : NI_API_KEY }, function (set) {
            
            message('System', 'Login...');
            NIActivity();
          });          
      }

      function NIActivity()
      {
          if(NI_ROOM_HISTORY_ON_CONNECT) { socket.emit('public_activity', '', function (set) { }); }
      }

      // FUNCTION HELPERS

      function message (from, msg) {
        
          $('#lines').append($('<p>').append($('<b>').text(from), msg));
      }


      //////////////////////////////////////////////////////////////////////////

      // dom manipulation
      $(function () {
        $('#set-nickname').submit(function (ev) {

          NI_USER_NAME = $('#nick').val();
          NI_USER_ID = $('#nick').val();
          socket.emit('login', { user_name : NI_USER_NAME, user_id: NI_USER_ID, user_room: NI_USER_ROOM, api_key : NI_API_KEY }, function (set) {
            if (!set) {

              NIActivity();
              clear();
              return $('#chat').addClass('nickname-set');
            }
            $('#nickname-err').css('visibility', 'visible');
          });
          return false;
        });

        $('#send-message').submit(function () {
          message('me', $('#message').val());

          socket.emit('user message public', $('#message').val() );

          clear();
          $('#lines').get(0).scrollTop = 10000000;
          return false;
        });

        function clear () {
          $('#message').val('').focus();
        };
      });
  body
    #chat
      #nickname
        form.wrap#set-nickname
          p Please type in your nickname and press enter.
          input#nick
          p#nickname-err Nickname already in use
      #connecting
        .wrap Connecting to socket.io server
      #messages
        #nicknames
        #lines
      form#send-message
        input#message
        button Send
